a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
    overflow-y: hidden
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'Droid Sans';
    src: url(fonts/droid.eot);
    src: url(fonts/droid.eot?#iefix) format('embedded-opentype'), url(fonts/droid.woff) format('woff'), url(fonts/droid.ttf) format('truetype'), url(fonts/droid.svg#droid_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent
}

body {
    color: #fff;
    background-color: #303030;
    font-family: 'Droid Sans', sans-serif;
    font-size: 125%
}

#main {
    margin: 0 auto
}

#cover {
    display: block;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    box-shadow: none
}

#grid {
    display: none;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    box-shadow: none
}

#stsp {
    height: 1.5em;
    margin: 1em 0 1em 0;
    padding: 0;
    border: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    color: #fff;
    background-color: #303030;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none
}

#inp {
    height: 1.5em;
    margin: 1em 0 1em 0;
    padding: 0;
    border: 0;
    text-align: left;
    position: relative;
    z-index: 1;
    font-family: 'Droid Sans', sans-serif;
    font-size: 125%
}

#inlabel {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Droid Sans', sans-serif
}

#inspan {
    display: block;
    overflow: hidden;
    color: inherit;
    background-color: inherit;
    margin: 0;
    border: 0;
    padding: 0 1em 0 .5em
}

#inbox {
    text-align: left;
    border: 1px solid #000;
    box-shadow: none;
    width: 100%;
    color: #000;
    background-color: #fff;
    font-family: monospace;
    font-size: 100%
}

.tiny {
    font-size: .75em
}

#debug {
    display: none;
    position: relative;
    z-index: 1
}

#monitor {
    width: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    overflow-y: scroll;
    box-shadow: none
}

#footer {
    width: 100%;
    font-family: monospace;
    font-size: .67em;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 1em 0 1em 0;
    color: #fff;
    background-color: #303030;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none
}
